<nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="/public/assets/images/taskitlogo.png" alt="Task.it - Task management made easy" width="112"
                height="28" />
        </a>
        <div class="navbar-menu">
            <div class="navbar-start is-grouped">
                <p class="navbar-item control">
                    <button class="button is-success">
                        Add Task
                    </button>
                </p>
                <p class="navbar-item control">
                    <button class="button is-primary">
                        View Tasks
                    </button>
                </p>
                <p class="navbar-item control">
                    <button class="button is-primary">
                        Edit Task
                    </button>
                </p>
                <p class="navbar-item control">
                    <button class="button is-danger">
                        Delete Task
                    </button>
                </p>
            </div>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
        <h1 class="title">
            Task.it
        </h1>
        <p class="subtitle">Task management, made easy.</p>
    </div>
</section>
<div class="container">
    <div class="columns">
        <div class="column" id="sidebar">
            <div class="box"></div>
        </div>
        <div class="column" id="content">
            <div class="box"></div>
        </div>
    </div>
</div>