<section class="section">
    <div class="container">
        <div class="columns">

            <div class="column">
                <h1 class="title">
                    Task.it
                </h1>
            </div>
            <div class="column">
                <a class="navbar-item" href="/login">
                    <img src="https://i.imgur.com/MdLJmhE.png" alt="Task.it - Task management made easy" width="112"
                        height="28" />
                </a>
            </div>
        </div>
        <p class="subtitle">Task management, made easy.</p>
    </div>
</section>

<div class="container">
    <div class="notification">
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email" />
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password" />
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-primary">
                    Sign Up
                </button>
            </p>
        </div>
    </div>
</div>